<meta charset="UTF-8">

<html>

<head>
    <title>【模板】快速读入</title>
    <link rel="stylesheet" href="../../stylesheets/styles.css">
    <link rel="icon" href="../../resources/icon.svg">
    <script> 
        var pre = "../../";
        var title = "【模板】快速读入";
        var under = "文章";
    </script>

    <script src="../../scripts/database.js"></script>
</head>

<body>
    <div id="passage"><pre><code id="template">#include &lt;bits/stdc++.h&gt;

namespace utd {
    namespace compressed32_int {
        template &lt;int _size&gt; 
        struct uint_t {
            private:
                typedef uint_t&lt;_size&gt; uintype;
                
                std::array&lt;uint32_t, _size&gt; _bit;
            
            public:				
                void debug() const& {
                    for (int i = 0; i &lt; std::min(32, _size); i++)
                        std::cout &lt;&lt; _bit[i] &lt;&lt; "\n";
                    std::cout &lt;&lt; "---------------\n";
                }
                
                uint_t();
                uint_t(const uintype&);
                uint_t(const uint64_t&);
                uint_t(const std::string&);
                
                uint64_t to_u64() const&;
                
                std::string format() const&;
                void construct(const std::string&);
                void clear();
                
                bool operator&lt;(const uintype&) const&;
                bool operator&lt;=(const uintype&) const&;
                bool operator&gt;(const uintype&) const&;
                bool operator&gt;=(const uintype&) const&;
                bool operator!=(const uintype&) const&;
                bool operator==(const uintype&) const&;
                
                uintype operator^(const uintype&) const&;
                uintype operator|(const uintype&) const&;
                uintype operator&(const uintype&) const&;
                uintype operator&lt;&lt;(const uintype&) const&;
                uintype operator&gt;&gt;(const uintype&) const&;
                
                uintype operator+(const uintype&) const&;
                uintype operator-(const uintype&) const&;
                uintype operator*(const uintype&) const&;
                uintype operator/(const uintype&) const&;
                uintype operator%(const uintype&) const&;
                
                uintype& operator=(const uintype&);
                uintype& operator+=(const uintype&);
                uintype& operator-=(const uintype&);
                uintype& operator*=(const uintype&);
                uintype& operator/=(const uintype&);
                uintype& operator%=(const uintype&);
                uintype& operator^=(const uintype&);
                uintype& operator&=(const uintype&);
                uintype& operator|=(const uintype&);
                uintype& operator&lt;&lt;=(const uintype&);
                uintype& operator&gt;&gt;=(const uintype&);
        };
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt;::uint_t() {clear(); }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt;::uint_t(const std::string& s) { this-&gt;construct(s); }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt;::uint_t(const uint64_t& x) { this-&gt;construct(std::to_string(x)); }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt;::uint_t(const uint_t&lt;_size&gt;& o) { this-&gt;_bit = o._bit; }
        
        template &lt;int _size&gt;
        void uint_t&lt;_size&gt;::clear() {
            for (int i = 0; i &lt; _size; i++) this-&gt;_bit[i] = 0;
        }
        
        template &lt;int _size&gt;
        uint64_t uint_t&lt;_size&gt;::to_u64() const& {
            uint64_t x = 0;
            for (int i = _size - 1; i &gt;= 0; i--) x = (x &lt;&lt; 32) + _bit[i];
            return x;
        }
        
        template &lt;int _size&gt;
        void uint_t&lt;_size&gt;::construct(const std::string& s) {
            for (int i = 0; i &lt; _size; i++) this-&gt;_bit[i] = 0;
            for (int i = s.size() % 8 - 8; i &lt; int(s.size()); i += 8) {
                if (i == -8) i += 8;
                std::string sub = s.substr(std::max(i, 0), (i + 8 - std::max(i, 0)));
                uint64_t u = (100000000);
                uint64_t t = std::stoi(sub);
                for (int i = 0; i &lt; _size; i++) {
                    uint64_t value = t + u * this-&gt;_bit[i];
                    this-&gt;_bit[i] = value & ((1ull &lt;&lt; 32) - 1), t = value &gt;&gt; 32;
                }
            }
        }
        
        template &lt;int _size&gt;
        std::string uint_t&lt;_size&gt;::format() const& {
            std::string x;
            for (int i = _size - 1; i &gt;= 0; i--) {
                uint64_t u = (1ull &lt;&lt; 32);
                uint64_t t = this-&gt;_bit[i];
                for (int i = 0; i &lt; int(x.size()); i++) {
                    uint64_t value = t + (x[i] - '0') * u;
                    x[i] = value % 10 + '0', t = value / 10;
                }
                while (t) x.push_back(t % 10 + '0'), t /= 10;
            }
            std::reverse(x.begin(), x.end());
            if (x == "") x = "0";
            return x;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator&lt;(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return _bit[i] &lt; o._bit[i];
            return false;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator&gt;(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return _bit[i] &gt; o._bit[i];
            return false;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator&lt;=(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return _bit[i] &lt; o._bit[i];
            return true;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator&gt;=(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return _bit[i] &gt; o._bit[i];
            return true;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator==(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return false;
            return true;
        }
        
        template &lt;int _size&gt;
        bool uint_t&lt;_size&gt;::operator!=(const uint_t&lt;_size&gt;& o) const& {
            for (int i = _size - 1; i &gt;= 0; i--) 
                if (_bit[i] != o._bit[i]) 
                    return true;
            return false;
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt; uint_t&lt;_size&gt;::operator+(const uint_t&lt;_size&gt;& o) const& {
            uint_t&lt;_size&gt; res;
            unsigned t = 0;
            for (int i = 0; i &lt; _size; i++) {
                uint64_t val = this-&gt;_bit[i] * 1ull + o._bit[i] + t;
                t = val &gt;&gt; 32, res._bit[i] = val & ((1ull &lt;&lt; 32) - 1);
            }
            return res;
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt; uint_t&lt;_size&gt;::operator-(const uint_t&lt;_size&gt;& o) const& {
            uint_t&lt;_size&gt; res;
            unsigned t = 0;
            for (int i = 0; i &lt; _size; i++) {
                int64_t val = int64_t(this-&gt;_bit[i]) - int64_t(o._bit[i]) - t;
                t = (val &lt; 0), res._bit[i] = val + int64_t(int64_t(t) &lt;&lt; 32);
            }
            return res;
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt; uint_t&lt;_size&gt;::operator*(const uint_t&lt;_size&gt;& o) const& {
            if (o &gt; (1ull &lt;&lt; 32)) {
                uint_t&lt;_size&gt; res; res.clear();
                std::array&lt;uint64_t, _size&gt; a;
                for (int i = 0; i &lt; _size; i++) a[i] = 0;
                for (int i = 0; i &lt; _size; i++)
                    for (int j = 0; j &lt; _size; j++)
                        if (i + j &lt; _size) {
                            a[i + j] += this-&gt;_bit[i] * 1ull * o._bit[j];
                            if (i + j + 1 &lt; _size) {
                                a[i + j + 1] += a[i + j] &gt;&gt; 32;
                                a[i + j] = a[i + j] & ((1ull &lt;&lt; 32) - 1);
                            }						
                        }
                unsigned t = 0;
                for (int i = 0; i &lt; _size; i++) {
                    uint64_t val = t + a[i];
                    t = val &gt;&gt; 32, res._bit[i] = val & ((1ull &lt;&lt; 32) - 1);
                }
                return res;
            } else {
                uint64_t mul = o.to_u64();
                uint_t&lt;_size&gt; res; res.clear();
                uint64_t t = 0;
                for (int i = 0; i &lt; _size; i++) {
                    uint64_t val = _bit[i] * 1ull * mul + t;
                    t = val &gt;&gt; 32, res._bit[i] = val & ((1ull &lt;&lt; 32) - 1);
                }
                return res;
            }	
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt; uint_t&lt;_size&gt;::operator/(const uint_t&lt;_size&gt;& o) const& {
            uint_t&lt;_size&gt; res, tmp;
            for (int i = _size - 1; i &gt;= 0; i--) {
                tmp = tmp * (1ull &lt;&lt; 32) + _bit[i];
                uint64_t ans = 0;
                if (tmp &gt;= o) {
                    uint64_t l = 1, r = (1ull &lt;&lt; 32);
                    uint64_t mid = 0;
                    while (l &lt;= r) {
                        mid = (l + r) / 2;
                        if (tmp &gt;= o * mid) {
                            ans = mid;
                            l = mid + 1;
                        } else r = mid - 1;
                    }
                    tmp = tmp - o * ans;
                }
                res = res * (1ull &lt;&lt; 32) + ans;
            }
            return res;
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt; uint_t&lt;_size&gt;::operator%(const uint_t&lt;_size&gt;& o) const& {
            uint_t&lt;_size&gt; res, tmp;
            for (int i = _size - 1; i &gt;= 0; i--) {
                tmp = tmp * (1ull &lt;&lt; 32) + _bit[i];
                uint64_t ans = 0;
                if (tmp &gt;= o) {
                    uint64_t l = 1, r = (1ull &lt;&lt; 32);
                    uint64_t mid = 0;
                    while (l &lt;= r) {
                        mid = (l + r) / 2;
                        if (tmp &gt;= o * mid) {
                            ans = mid;
                            l = mid + 1;
                        } else r = mid - 1;
                    }
                    tmp = tmp - o * ans;
                }
                res = res * (1ull &lt;&lt; 32) + ans;
            }
            return tmp;
        }
        
        template &lt;int _size&gt;
        uint_t&lt;_size&gt;& uint_t&lt;_size&gt;::operator=(const uint_t&lt;_size&gt;& o) {
            this-&gt;_bit = o._bit;
            return (*this);
        }
        
        template &lt;int _size&gt;
        std::istream& operator&gt;&gt;(std::istream& stream, uint_t&lt;_size&gt;& o) {
            std::string s;
            stream &gt;&gt; s;
            o.construct(s);
            return stream;
        }
        
        template &lt;int _size&gt;
        std::ostream& operator&lt;&lt;(std::ostream& stream, const uint_t&lt;_size&gt;& o) {
            stream &lt;&lt; o.format();
            return stream;
        }
        
        typedef uint_t&lt;8&gt; 		uint256_t;
        typedef uint_t&lt;16&gt; 		uint512_t;
        typedef uint_t&lt;32&gt; 		uint1024_t;
        typedef uint_t&lt;64&gt; 		uint2048_t;
        typedef uint_t&lt;128&gt; 	uint4096_t;
        typedef uint_t&lt;256&gt; 	uint8192_t;
        typedef uint_t&lt;512&gt; 	uint16384_t;
        typedef uint_t&lt;1024&gt;	uint32768_t;
        typedef uint_t&lt;2048&gt;	uint65536_t;
        typedef uint_t&lt;4096&gt; 	uint1e5_t;
    }
}

signed main() {
    utd::compressed32_int::uint_t&lt;4096&gt; x, y;
    std::cin &gt;&gt; x &gt;&gt; y;
    std::cout &lt;&lt; x + y &lt;&lt; "\n";
    if (x &lt; y)
        std::cout &lt;&lt; "-" &lt;&lt; y - x &lt;&lt; "\n";
    else
        std::cout &lt;&lt; x - y &lt;&lt; "\n";
    std::cout &lt;&lt; x * y &lt;&lt; "\n";
    std::cout &lt;&lt; x / y &lt;&lt; "\n";
    std::cout &lt;&lt; x % y &lt;&lt; "\n";
    return 0;
}</code></pre><div id="btn" onclick="document.getElementById('txt').innerHTML = '正在复制';setTimeout(async () => {document.getElementById('txt').innerHTML = '复制完成';setTimeout(async () => {document.getElementById('txt').innerHTML = '复制到剪贴板';}, 2000);await navigator.clipboard.writeText(document.getElementById('template').innerHTML);}, 1000)" class="shadowborder darkover" style="height:32px;justify-content: center;display: flex;align-items: center;">
    <p id="txt">复制到剪贴板</p>
</div></div>

    <script src="../../scripts/nav.js"></script>
    <script src="../../scripts/apps.js"></script>
</body>

</html>