<div class="template-main">
    <div class="template-leftbar">
        <div class="template-faviconbar">
            <img class="template-favicon" src="/asset/images-svg/github.svg">
        </div>

        <div class="template-navbar">
            <a class="template-navbar-item template-navitem" id="tab-home" href="/">
                <img src="/asset/images-svg/house.svg" class="template-navimage">
                <p> Homepage </p>
            </a>
            <a class="template-navbar-item template-navitem" id="tab-articles" href="/articles.html">
                <img src="/asset/images-svg/article.svg" class="template-navimage">
                <p> Articles </p>
            </a>
            <a class="template-navbar-item template-navitem" id="tab-categories" href="/categories.html">
                <img src="/asset/images-svg/categories.svg" class="template-navimage">
                <p> Categories </p>
            </a>
            <a class="template-navbar-item template-navitem" id="tab-tags" href="/tags.html">
                <img src="/asset/images-svg/tag.svg" class="template-navimage">
                <p> Tags </p>
            </a>
            <a class="template-navbar-item template-navitem" id="tab-applications" href="/applications.html">
                <img src="/asset/images-svg/applications.svg" class="template-navimage">
                <p> Applications </p>
            </a>
        </div>

        <div id="miin" class="template-miinbar">
        </div>
    </div>

    <div class="template-rightpart">
        <div class="template-rightmain" id="main">

        </div>
    </div>
</div>