.colblack4 {background-color: #404040;}
.colblack3 {background-color: #303030;}
.colblack2 {background-color: #202020;}
.colblack1 {background-color: #101010;}
.colwhite  {background-color: #FFFFFF;}
.fixed     {position: fixed; z-index: 1919810;}
.absolute  {position: absolute; z-index: 114514;}

.card {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: 'Fira Code';
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

hr {
    color: #ffffff;
}

a {
    text-decoration: none;
}